[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-storage = "*"
google-cloud-spanner = "*"
google-cloud-pubsub = "*"
pillow = "*"
tqdm = "*"
numpy = "*"

[requires]
python_version = "3.7"
